/* Country Data Rendering Styles */

.country-info-container {
    display: flex;
    justify-content: center;
}
  
.country-info-box {
    margin: 0 auto;
}

.country-info-box {
    background-color: rgba(188, 164, 133, 0.75);
    border: 1px solid #8c7455;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    color: #5d3f30;
}

.country-info-box p {
    margin: 10px 0;
    color: #666;
}
  
.country-info-box img {
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    border-radius: 4px;
}

.country-info-box table {
    margin: 0 auto;
    width: 45%;
}

.country-info-box td {
    text-align: left;
    padding: 1.7%;
}

.country-info-box td .title {
    font-weight: 700;
    text-align: left;
}

.country-info-box li {
    list-style: none;
    text-align: left;
}
  
