/* Error box styles */

.error-container {
    display: flex;
    justify-content: center;
  }
.error {
    background-color: rgb(179, 41, 41);
    border: 1px solid #8c7455;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
  }
.error h2, p {
    color: white;
  }